<body>

<h1>欢迎登录！</h1>
<form action="/login/" method="post">
    {% csrf_token %}
    <p>
        用户名：
        <input type="text" name="user_id">
    </p>
    <p>
        密码：
        <input type="password" name="user_password">
    </p>
    <p>
        <input type="submit" value="登录">
    </p>
    <hr>
</form>

<script type='text/javascript'>

    window.onload = function () {

        var str = "a,b,c,d,e";
        var arr = str.split(",");
        for (var a2 = []; a2.push([]) < arr.length;) ;
        var l = Math.pow(2, arr.length) - 1;
        for (var i = 1; i <= l; i++) {
            var s2 = i.toString(2).split("").reverse();
            var t = "", m = -1;
            for (var k = 0; k < s2.length; k++) {
                if (s2[k] == "1") {
                    t += arr[k];
                    m++;
                }
            }
            a2[m].push(t);
        }
        alert(a2.join("\n"));



    }
</script>
</body>